<h1>All Photos</h1>

<% @List_of_photos.each do  |photo| %>

<img src="<%= photo.source %>">
<p>
    <%= photo.caption %>
</p>

<div>
<a href="/photos/<%= photo.id %>">Detail</a>
<a href="/photos/<%= photo.id %>/edit">Edit</a>  
<a href="/photos/delete_photo/<%= photo.id %>">Delete</a>
</div>

<% end %>